.footer {
  display: flex;
  justify-content: space-between;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 24px;
  padding-top: 85px;
}
.footer__name {
  margin: 0;
}
.footer__year {
  margin: 0;
}
