.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal__title {
  margin: 0;
  padding: 0;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 24px;
}
.modal__save {
  background-color: rgba(0, 0, 0, 0.3);
  border-style: none;
  border-radius: 5px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  padding: 8px 16px;
  /* box-sizing: content-box;
  width: 10%; */
  width: fit-content;
  cursor: pointer;
}
.modal__save:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.modal__save_active {
  background-color: rgba(0, 0, 0, 1);
}
