.profile {
  display: flex;
  align-items: start;
  padding-top: 19px;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}
.profile__button {
  display: none;
}
/* .profile__user-clothes {
  display: flex;
  align-items: start;
  padding-top: 19px;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: 100%;
} */
.profile__side-bar {
  display: flex;
  gap: 6px;
  align-items: center;
  padding-right: 116px;
  /* position: fixed; */
}
.profile__add-button {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
}
.profile__clothes-section {
  flex: 2;
}
@media screen and (max-width: 770px) and (min-width: 343px) {
  .profile {
    padding: 0px;
    z-index: 2;
  }

  .profile__side-bar {
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    gap: 20px;
    z-index: 1;
  }
  .profile__clothes-section {
    z-index: 1;
  }
  .profile__button {
    display: block;
    position: absolute;
    top: -60px;
    right: 0px;
    background-image: url(../../assets/ProfileButton.svg);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    width: 44px;
    height: 44px;
    border-style: none;
    padding: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}
