.profile {
  display: flex;
  align-items: start;
  padding-top: 19px;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1360px;
}
.profile__side-bar {
  display: flex;
  gap: 6px;
  align-items: center;
  padding-right: 40px;
}
.profile__add-button {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
}
.profile__clothes-section {
  /* display: flex;
  flex-direction: column; */
}
