.modal__label {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal__input {
  color: rgba(0, 0, 0);
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);

  padding: 0;
  padding-top: 8px;
}
.modal__error {
  display: block;
  margin: 0;
  padding: 0;
  color: #ff0000;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  left: 50px;
}
.modal__input_type_error {
  border-bottom: 1px #ff0000 solid;
  margin: 0 0 2px 0;
}
.modal__error_visible {
  display: block;
  margin: 0;
  padding: 0;
  color: #ff0000;
  margin-bottom: 14px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}
.modal__radio-fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  position: relative;
}
.raio-fieldset__texts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.modal__legend {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 12px;
}
.modal__error_type {
  left: 0px;
  position: relative;
  padding-bottom: 8px;
}
.modal__input_type_radio {
  color: rgba(0, 0, 0, 0.5);
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding-top: 8px;
  color: rgba(0, 0, 0, 1);
}
.modal__input_type_radio:checked {
  color: rgba(0, 0, 0, 1);
}
.modal__radio-label {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  /* color: rgba(236, 11, 11, 0.5); */
  display: flex;
  flex-direction: row;
  gap: 11px;
  padding-bottom: 8px;
}
.modal__radio-label + .modal__input_type_radio:checked {
  color: rgba(0, 0, 0, 1);
}
