.card {
  position: relative;
  border-radius: 10px;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  display: flex;
  overflow: hidden;
  justify-content: center;
  cursor: pointer;
}

.card__name {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 auto;
  padding: 2px 12px;
  position: absolute;
  top: 15px;
  background: white;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  position: absolute;
}
.card__like-button {
  background-image: url(../../assets/❤.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-style: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: absolute;

  right: -40px;
}
.card__image {
  width: 100%;
  object-fit: cover;
}
