.page {
  background-color: #f3f3f3;
}
.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 770px) {
  .page__content {
    max-width: 343px;
    padding: 18px 16px 20px 16px;
    z-index: 1;
  }
}
