.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  color: black;
  justify-content: space-between;
}
.header__logo-date-location {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__logo {
  height: 40px;
  width: 89px;
}
.header___date-location {
  margin: 0;
  margin-right: auto;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}
.header__icons {
  display: flex;
  gap: 20px;
}
.header__add-clothes-btn {
  margin: 0;
  margin-left: auto;
  border: 0;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  padding: 0;
  background-color: rgba(243, 243, 243, 1);
  cursor: pointer;
}
.header__link_to-profile {
  text-decoration: none;
  color: black;
}
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__username {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}
.header__avatar {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 770px) {
  .header {
    max-width: 343px;
    padding-bottom: 16px;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }
  .header__logo-date-location {
    gap: 12px;
  }
  .header__logo {
    padding-left: 0;
  }
  .header___date-location {
    padding-left: 0;
    padding-right: 60px;
    margin: 0;
    font-size: 16px;
  }

  .header__add-clothes-btn {
    display: none;
  }
}
