.modal__close_content_type_image {
  background-image: url(../../assets/whiteClose.svg);
}
.modal__content_type_image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  background-color: white;
  border-style: none;
  border-radius: 10px;
  max-width: 498px;
  width: 100%;
  overflow: hidden;
}
.modal__image {
  width: 100%;
  object-fit: cover;
}
.modal__content_type_image_info {
  width: 100%;
  background-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 20px 32px 32px 32px;
}
.modal__footer {
  display: flex;
  gap: 12px;
  flex-direction: column;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  overflow: hidden;
  /* overflow-wrap: break-word; */
  /* word-wrap: break-word; */
}
.modal__caption {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.modal__weather {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.modal__delete-button {
  border-style: none;
  background-color: transparent;
  padding: 0;
  color: rgba(255, 77, 0, 1);
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .modal__content_type_image {
    max-width: 343px;
  }
}
