.page {
  background-color: #f3f3f3;
}
.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 770px) {
  .page__content {
    max-width: 343px;
    padding: 0px;
  }

  /* .page__profile {
      max-width: 282px;
      flex-direction: column;
      align-items: center;
      margin: 42px auto 36px;
    }
  
    .page__footer {
      margin: 48px auto 36px;
      max-width: 282px;
    } */
}
